# Hide junk from Visual Studio/Visual Studio Code
.vs/*
x64/*
.vscode/*
XP-RichPresence.*

# hide SDKs/Libarys
*-SDK/*
*-LIB/*

# Exceptions to rules
!XP-RichPresence.xpl
!XP-RichPresence.vcxproj

# Other
*.zip